{{- with first 3 (site.RegularPages.Related .) }}
<section class="lp-section lp-dark">
    <div class="lp-container">
        <h2>Související obsah</h2>
        <div class="lp-grid-3">
            {{- range . }}
            <article class="lp-card">
                <h3 class="lp-card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                {{ with .Description }}<p>{{ . }}</p>{{ end }}
            </article>
            {{- end }}
        </div>
    </div>
</section>
{{- end }}
